
@{
    ViewBag.Title = "Specialities";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
    <th>Name</th>
    <th>Update/Remove</th>
    </thead>
    <tbody>
        @foreach (var speciality in ViewBag.addresses)
        {
            <tr>
                <td>@speciality.Street</td>
                <td>@speciality.No</td>
                <td>@speciality.City</td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm(actionName: "New", controllerName: "Speciality", method: FormMethod.Post))
{
    <button type="submit" class="btn btn-info" style="width:130px">Add speciality</button>
}
