
@{
    ViewBag.Title = "Specialities";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
    <th>Name</th>
    <th>Update/Remove</th>
    </thead>
    <tbody>
        @foreach (var speciality in ViewBag.Specialities)
        {
            <tr>
                <td>@speciality.SpecialityName</td>
                <td>
                    @using (Html.BeginForm(actionName: "AddClinic", controllerName: "Speciality", method: FormMethod.Post, routeValues: new { id = speciality.SpecialityId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Put)
                        <button type="submit" class="btn btn-link col-lg-2">Add clinic</button>
                    }

                    @using (Html.BeginForm(actionName: "Edit", controllerName: "Speciality", method: FormMethod.Get, routeValues: new { id = speciality.SpecialityId }))
                    {
                        <button type="submit" class="btn btn-link col-lg-8">Update</button>
                    }

                    @using (Html.BeginForm(actionName: "Delete", controllerName: "Speciality", method: FormMethod.Post, routeValues: new { id = speciality.SpecialityId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="btn btn-link col-lg-15">Remove</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm(actionName: "New", controllerName: "Speciality", method: FormMethod.Post))
{
    <button type="submit" class="btn btn-info" style="width:130px">Add speciality</button>
}
