@model Appointments_management_system.Models.ClinicSpecialityViewModel

@{
    ViewBag.Title = "Add a speciality for " + Model.ClinicName + " clinic";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm(actionName: "AddSpeciality", controllerName: "Clinic", method: FormMethod.Post, routeValues: new { clinicId = Model.ClinicId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.DropDownListFor(mv => mv.ChosenSpecialityId, new SelectList(Model.SpecialityType, "SpecialityId", "SpecialityName"), "Choose a Speciality",  new { @class = "form-control" })
    <br />

    <button class="btn btn-info" type="submit">
        Add Speciality
    </button>
}
